.container-fluid {
    background-color: #343f51;
    min-height: 100%;
  }

.card {
    color: black;
    background-size: cover;
    background-position: center;
    margin-top: 8%;
    margin-bottom: 2%;
  }

span {
  max-width: 100%;
  padding: 1% 2% 1% 1%;
  float:left;
}

img {
  max-width: 30vw;
}

h2 {
  font-family: 'Times New Roman', Times, serif;
  padding: 1% 0% 1% 2.5%;
}

p {
  padding: 0% 2% 0% 2%;
}