<div class="container-fluid">
  <div class="row justify-content-center align-items-center">
    <div class="col-sm-10">
      <div class="card mb-3">
        <div class="card-body">
          <h2>
            <b>
              <u>Motivo per cui ho scelto questo corso</u>
            </b>
          </h2>
          <p>
            Saper progettarsi secondo me è importante e in breve vi spiegherò il perché.<br/>
            Come ogni persona, anch'io ho avuto un periodo in cui non ero sicuro di quello che volevo per il mio futuro. Sono arrivato in Italia quando avevo 18 anni, dopodiché mi sono iscritto ad una scuola superiore per geometri, l'avevo scelto perché sin da piccolo mi è sempre piaciuta la costruzione.
          </p>
          <p>
            Ai 19 anni avevo trovato un lavoro come cameriere, perciò avevo deciso che era meglio proseguire i miei studi nel turno serale. Ai 20 anni ho cominciato a leggere diversi blog di tema tecnologico, in quel periodo il mio interesse verso le innovazioni della tecnologia cresce. Quando ho finito la scuola superiore, volevo cambiare percorso; dopo aver fatto una ricerca sui lavori più richiesti nel futuro, mi sono ritrovato con una lista molto attraente di professioni, tra questi mi sono interessato di più al settore della digitalizzazione, poi ho dovuto scegliere un percorso che mi potesse far avvicinare a quella realtà. Di percorsi c'è ne erano tanti, ma io dovevo scegliere un corso che potesse soddisfare le mie necessità.
          </p>
          <span>
              <img
                src="../../assets/img/class-group.jpg"
                alt="foto di gruppo"
                class="img-thumbnail"
              />
            </span>
          <p>
            Dopo una lunga riflessione, ho deciso che per iniziare la mia carriera da programmatore, questo corso era perfetto.<br/> Il corso tratta le seguenti materie: java SE e java EE (linguaggi di programmazioni mirati al back-end); javascript (linguaggio di scripting più usato per affrontare il front-end); HTML5 e CSS (linguaggi di markup) e SQL (linguaggio più usato per maneggiare i database); in aggiunta a lezioni di orientamento al mondo del lavoro, l'importanza di particolari soft skills e l'importanza di saper lavorare in gruppo.
          </p>
          <p>
            Questo anno di studio ha soddisfatto le mie aspettative, le persone che lavorano qua sono molto volenterose, con una personalità molto positiva; i miei compagni di classe sono unici, posso dire che si è formata una bella classe, in conclusione ho conosciuto persone meravigliose e ho imparato nuovi concetti che mi saranno utili nel mondo del lavoro. Sono consapevole che la programmazione è in continuo cambiamento e in forte espansione, motivo per il quale mi impegnerò per non rimanere indietro con le nuove tecnologie che possano interessare il mio settore.<br/> Arrivare ad essere parte di questo corso è il risultato di una lunga ricerca, tanta pazienza e cambiamenti che ho dovuto affrontare dopo aver riflettuto sui benefici che questa professione mi porterà in futuro.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
