<div class="init-title">
  <h1>Relazione di fine anno</h1>
  <p>{{ today | date }}</p>
  <img
    src="../../assets/img/imm-lavoro.png"
    alt="logo Immaginazione e Lavoro"
  /><br />
  <button type="button" class="btn btn-warning init-button"
  routerLink='/layout' >inizia</button>
</div>
