.init-title {
  background: linear-gradient(to right, #020a21, #0b2263, #6e8de6, #0b2263, #020a21);
  background-size: cover;
  text-align: center;
  z-index: -1;
  min-height: 100vh;
}

h1 {
  text-align: center;
  display: inline-block;
  color: #ffc107;
  margin-top: 2.5%;
  font-style: Times New Roman;
  font-family: Times New Roman, Times, serif;
}

p {
  color: #ffc107;
  margin: 0;
  padding: 0;
}

img {
  max-width: 80%;
  max-height: 80%;
  z-index: -1;
}

.init-button {
  margin-bottom: 3%;
  width: 0.5;
}
