<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-md-10">
      <div class="card">
        <div class="card-body">
          <h2>
            <b>
              <u>Esperienza in azienda</u>
            </b>
          </h2>
          <p>
            Ho avuto il piacere di svolgere il mio stage presso l'azienda Consoft Systems S.p.A., loro si occupano dello sviluppo di soluzioni end to end capaci di generare valore d'impresa e supporto nell'allineamento alla trasformazione digitale, svolgono anche attività di consulenza e formazione, realizzazione di sistemi integrati ed erogazione di servizi in outsourcing e insourcing.
          </p>
          <p>
            Consoft Systems è un'azienda fondata nel 1986, ha diversi sedi in Italia e gestice più di 400 dipendenti; io sono stato scelto insieme ad altri miei compagni di corso per lo sviluppo di una web application con impostazione mobile first.<br/> Nel progetto in cui sono stato assegnato, ho imparato ad utilizzare il framework Angular; il software Git; la codificazione nei linguaggi typescript(javascript), html e css; le librerie rxjs, bootstrap, ng2charts; il progetto era organizzato in vari step e suddiviso in gruppi, ogni step aveva una data d'inizio ed una data di scadenza; anche se il lavoro era diviso in gruppi, noi potevamo chiedere consigli ai nostri colleghi se avessimo avuto dei dubbi; l'ambiente lavorativo è molto dinamico, socievole e giovanile.
          </p>
          <p>
            Nei primi giorni, l'azienda ci aveva consegnato dei link dove potevamo andare a vedere dei corsi che riguardavano il framework angular; dopo un paio di giorni, con l'arrivo del nostro tutor abbiamo dato inizio al progetto, ci ha presentato dei project leader che sin dall'inizio ci davano dei parametri per poter svolgere la nostra attività al meglio, e se era il caso, ci aiutavano nella codificazione, spiegandoci alla fine il motivo per il quale erano più consigliati certi metodi rispetto ad altri.
          </p>
          <p>
            Il progetto consisteva in creare una web application partendo da un vecchio progetto, perciò abbiamo dovuto avere prima un'idea di quello che faceva il vecchio progetto e poi programmarlo utilizzando il framework Angular.<br/> Al termine di ogni step, dovevamo esporre il nostro lavoro davanti al team, dopodicchè si faceva un riassunto di ciò che abbiamo fatto. Da quando era iniziato il progetto, noi ci radunavamo ogni giorno con i nostri project leader per un paio di minuti per comunicare l'andamento del lavoro e chiedere consigli per poter affrontare alcuni argomenti in maniera più semplice.
          </p>
          <span>
            <carousel [interval]="myInterval">
              <slide *ngFor="let slide of slides; let index = index">
                <img
                  [src]="slide.image"
                  alt="immagini del progetto"
                  style="display: block; width: 100%;"
                />
              </slide>
            </carousel>
          </span>
          <p>
              Per quanto riguarda i miei compiti, io mi sono occupato di creare servizi che utilizzavano le richieste http; l'uso degli oggetti observable che consentono di gestire i dati prelevati da un database o altra fonte esterna in maniera asincrona; l'introduzione del tempo in formato italiano tramite la funzione date-pipe; e di migliorare l'aspetto stilistico di alcuni pezzi del html che stavo gestendo.<br/> L'utilizzo del software Git è stato fondamentale per poter collegare tutto il progetto; prima di utilizzare Git , ci avevano fatto una lezione introduttiva dei comandi basici, in seguito ci hanno fatto utilizzare Git sia con le linee di comando che con gli editor di codice.
          </p>
          <p>
            In conclusione, le lezioni in aula e lo stage che ho svolto mi hanno insegnato a saper gestire un progetto all'interno di un contesto aziendale.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
