.container-fluid {
    background-color: #343f51;
    min-height: 100%;
  }

  .card {
    color: black;
    background-size: cover;
    background-position: center;
    margin-top: 8%;
    margin-bottom: 2%;
  }

  h2 {
    font-family: 'Times New Roman', Times, serif;
    padding: 2% 0% 1% 2.5%;
  }
  
  p {
    padding: 0% 2% 0% 2%;
  }

  span {
    max-width: 50%;
    padding: 1% 2% 1% 1%;
    float:right;
  }

  ::ng-deep carousel {
    max-width: 30%;
  }

  ::ng-deep .carousel-control-prev-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23f25602' viewBox='0 0 8 8'%3e%3cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3e%3c/svg%3e")
  }

  ::ng-deep .carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23f25602' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E")
    
  }

  ::ng-deep .carousel-indicators .active {
    background-color: #f28a02;
  }