.container-fluid {
  background-color: #343f51;
  min-height: 100%;
}

.card {
  color: black;
  background-image: url("../../assets/img/papiro.jpg");
  background-position: center;
  margin-top: 8%;
  margin-bottom: 2%;
  max-height: 100%; 
}

.card-body {
  padding: 20% 0% 20% 15%;
}

.bottom-of-second-card {
  padding-bottom: 28.5%;
}

h5 {
  color: blue;
}

.card-text {
  font-size: 130%;
  font-family: 'Times New Roman', Times, serif
}
