<div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-sm-8 col-lg-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Nome:</h5>
            <ul class="card-text">
              <li>William Raùl</li>
            </ul>
            <h5 class="card-title">Cognome:</h5>
            <ul class="card-text">
              <li>Fernandez Pampa</li>
            </ul>
            <h5 class="card-title">Data di nascita:</h5>
            <ul class="card-text">
              <li>12/Agosto/1996</li>
            </ul>
            <h5 class="card-title">Luogo di nascita:</h5>
            <ul class="card-text">
              <li>Perù</li>
            </ul>
            <h5 class="card-title">email:</h5>
            <ul class="card-text">
              <li>wilin.n@hotmail.com</li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col-sm-8 col-lg-4">
        <div class="card">
          <div class="card-body bottom-of-second-card">
            <h5 class="card-title">Ente di Formazione:</h5>
            <ul class="card-text">
              <li>Immaginazione e Lavoro</li>
            </ul>
            <h5 class="card-title">Corso:</h5>
            <ul class="card-text">
              <li>Sviluppo Software</li>
            </ul>
            <h5 class="card-title">Insegnanti:</h5>
            <ul class="card-text">
              <li>Elena Nicola</li>
              <li>Mauro Bogliaccino</li>
              <li>Dario Mennillo</li>
              <li>Oscar Vecchione</li>
              <li>Luca Ceroni</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
