.layout {
  display: flex;
  background-color: beige;
  min-height: 70px;
  padding-top: 0.5%;
}

.fa-rewrite {
  margin-left: 2%;
  color: #007bff;
  font-size: 30px;
}

.fa-rewrite:hover {
  color: #0050a6;
}

.btn  {
  font-size: 150%;
}
