<div class="layout">
  <div class="container-fluid">
    <div class="row" role="group">
      <fa class="fa-rewrite"
    routerLink="" name="fas fa-reply"></fa>
    <button type="button"
    routerLink="/layout/student-data"
    class="btn btn-link btn-md mr-2 ml-3">Dati dello studente</button>
    <button type="button"
    routerLink="/layout/about-course"
    class="btn btn-link btn-md mr-2 ">Parliamo del corso</button>
    <button type="button"
    routerLink="/layout/experience-company"
    class="btn btn-link btn-md">Esperienza in azienda</button>
    <h3 class=float-right>
      {{today | date: 'mediumTime'}}
    </h3>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
